/* -----------------------------------*/


/* ---------->>> Global <<<-----------*/


/* -----------------------------------*/

body {
    margin: 0px;
    background-image: url(../images/images4.png);
    background-position: center;
    background-size: cover;
    /*position: relative; */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
}

section {
    max-width: 960px;
    margin: auto;
}

button {
    border-width: 0px;
}

input {
    cursor: pointer;
}

input:focus {
    border: 0 none;
    outline: 0;
}


/* -----------------------------------*/


/* ---------->>> Home body <<<-----------*/


/* -----------------------------------*/

nav ul {
    margin: 0;
    padding: 0;
    width: 100px;
}

nav ul li {
    list-style-type: none;
    /*Aqui é definido para não ter nenhum objeto da coluna*/
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: coral;
    background-color: rgb(151, 171, 229);
    padding: 5px;
    margin-bottom: 1px;
    border-radius: 10px;
    color: black;
    /*Aqui são definidos as características das palavras dentro da lista */
}

nav ul li a:hover {
    background-color: darkgrey;
    /* com o hover é possível de fazer aquele efeito quando o mouse passa por cima de um objeto, fazer esse objetop mudar de cor*/
}

#div-imagem {
    width: 175px;
    height: 175px;
    margin: auto;
    border-radius: 10px;
}

#div-imagem img {
    width: 100%;
    height: 100%;
}

#livros {
    background-color: rgb(253, 253, 253);
    padding: 20px;
    border-radius: 10px;
}

#div-livros {
    text-align: center;
    display: flex;
}

#livro {
    background-color: rgb(214, 212, 212);
    padding: 24px;
    margin: 8px;
    width: 210px;
    margin-left: 52px;
    border-radius: 20px;
}

#section-livros {
    max-width: 1100px;
}


/* -----------------------------------*/


/* ---------->>> Home Header <<<-----------*/


/* -----------------------------------*/

header {
    font-size: large;
}


/* -----------------------------------*/


/* ---------->>> Home Footer <<<-----------*/


/* -----------------------------------*/

img.capa {
    width: 396px;
}

a.links {
    text-decoration: none;
    color: #006699;
}

a.links:hover {
    color: #009999;
}

a.generos {
    color: lightblue;
}


/* -----------------------------------*/


/* ---------->>> Login <<<-----------*/


/* -----------------------------------*/

#titulo-principal {
    text-align: center;
}

#titulo-pagina-bem-vindo {
    text-align: left;
    margin-left: 10vw;
}

#titulo-pagina-voltar {
    text-align: left;
}

#voltar {
    color: black;
}

#logout {
    color: black;
}

#zerar {
    color: black;
}

#titulo-pagina-logout {
    text-align: right;
}

#div-login {
    padding: 10px;
    text-align: center;
}

#div-login #login-input {
    margin: 10px;
}

#div-registrar {
    padding: 10px;
    text-align: center;
}

#div-registrar .registrar-input {
    margin: 10px;
}

.logging-div {
    width: 60%;
    height: 50%;
    margin: auto;
    background-color: azure;
    margin-top: 50px;
    border-radius: 7px;
}

.left {
    float: left;
    margin-left: 25px;
}

.right {
    justify-content: flex-end;
    text-align: right;
    margin-right: 20px;
}

.footer {
    position: fixed;
    bottom: 0px;
}

.footer p {
    text-align: center;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    background-color: rgb(206, 206, 206);
    width: 100vw;
    padding: 10px;
}

.footer p a {
    text-decoration: none;
    color: blue;
}

.login-link {
    font-size: 0.8em;
    text-decoration: none;
    float: left;
    padding-left: 20px;
}